/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Feb-2017, 14:14:34
    Author     : mqul
*/

html, body{
    margin: 0 0;
    align-content: center;
    background-color: #DDDDDD;
}

h1{
    margin: 0 0;
    background-color: #AAAAAA;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

#form{
    margin: 0 auto; 
    width:250px;
}

#form p{
    color: #001f3f;
}

.button {
    border: none;
    display: block;
    background: rgba(0,0,0,0.7);
    height: 40px;
    width: 75px;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    margin: 0 auto; 
    margin-top:10px;
}

.button:hover {
  background: #7e7e7e;
}

/**Table**/
.tftable {
    margin: auto auto;
  font-size:12px;
  color:#000000;
  width:70%;
  border-width: 1px;
  border-color: #AAAAAA;
  border-collapse: collapse;
}
.tftable th {
  font-size:12px;
  background-color:#AAAAAA;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #000000;
  text-align:left;
}
.tftable tr {background-color:#FFFFFF;}
.tftable td {
  font-size:12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #000000;
}
/**Table End**/